@import url('./__language/language-switcher__language.css');
@import url('./__language/_active/language-switcher__language_active.css');

.language-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
