@import url('./__overlay/cover__overlay.css');
@import url('./__text-wrapper/cover__text-wrapper.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  width: 100%;
  position: relative;
  padding-bottom: 62.5%;
  background: center / cover url('../../images/cover-trains.jpg');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover:hover>.cover__overlay {
  opacity: .8;
  cursor: pointer;
}
