@import url('./__title/info__title.css');
@import url('./__text/info__text.css');
@import url('./__facts/info__facts.css');
@import url('./__fact/info__fact.css');
@import url('./__fact-accent/info__fact-accent.css');

.info {
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 1024px) {
  .info {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .info {
    padding-left: 16px;
    padding-right: 16px;
  }
}
